<!DOCTYPE html>
<html>
<head><title>Logs</title></head>
<body>
<h2>📜 Logs</h2>
<% if (!logs.length) { %>
    <p>Nenhum log encontrado.</p>
<% } else { %>
    <% logs.forEach(log => { %>
        <h3><%= log.name %></h3>
        <pre><%= log.content %></pre>
    <% }) %>
<% } %>
</body>
</html>
